doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caveat:wght@400;500;600;700&family=Indie+Flower&family=Jost:ital,wght@0,200;0,700;1,300;1,500&family=Klee+One&family=Lexend:wght@100&family=Ma+Shan+Zheng&family=Mochiy+Pop+P+One&family=Mooli&family=Reggae+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./iconmoon/style.css")
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous")
        script(defer src="./index.js") 
        link(rel="stylesheet", href="./index.css")
        title ShenResume
        link(rel="shortcut icon", href="./img/Mark/16Mark.png")
        link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
        meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
        script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")
    body
        nav.naveBar
            .naveBgc
            .naveMark
                .mark
                    img(src="./img/Mark/50Mark.png", alt="")
                .name.enfont
                    p Shih-Lin Shen
            .introduce
                .word.aboutMe
                    p AboutMe 
                .word.naveWork
                    p Experience
                .word.navePoj 
                    p Project
                .word.naveProfessional
                    p Professional

        main.resume 
            .rightBar.enfont
                .right-about 
                    .wor.right1
                        p About Me
                    .point.right1-1
                .right-experience
                    .wor.right2
                        p Experience
                    .point.right1-2
                .right-project 
                    .wor.right3
                        p Project 
                    .point.right1-3
                .right-professional 
                    .wor.right4
                        p Professional 
                    .point.right1-4
            .bgImg 
                .bottomArrow
                    .icon-ctrl
                .mask
                .cloud 
                    .cloud1 
                        .c1-1.cloud100
                        .c1-2.cloud100
                    .cloud2
                        .c2-1.cloud100
                        .c2-2.cloud100
                .indexCenter.font2
                    .indexTop 
                        span H
                        span i
                        span !
                        span &nbsp;&nbsp;&nbsp;
                        span I'
                        span m

                    .indexMid
                        span S
                        span h
                        span i
                        span h
                        span -
                        span L
                        span i
                        span n
                        span &nbsp;&nbsp;
                        span S
                        span h
                        span e
                        span n
            .aboutBox 
                .aboutCenter
                    .aboutLeft
                        img(src="./img/pic/pic.png", alt="")
                    .aboutRight
                        .name(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="200" data-aos-offset="100")
                            .icon-user-tie
                            h1.font1 姓名:
                            h2.font1 沈仕霖 
                                span.font4 (Shih-Lin Shen)
                        .phone(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="200" data-aos-offset="100")
                            .icon-mobile
                            h1.font1 電話:
                            h2.font4 0963-656-380
                        .mail(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="200" data-aos-offset="100")
                            .icon-mail4
                            h1.font1 信箱 :
                            h2.font4 gp3g4xup6@gmail.com
                        .internet(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="200" data-aos-offset="100")
                            .icon-IE
                            h1.font4 網站:
                            a(href="https://gp3shenq.github.io/" target= "_blank") https://gp3shenQ.github.io/
                        .CV(data-aos="fade-up" data-aos-anchor-placement="top-bottom")
                            p.font1 簡歷
                            hr
                            h2.font1 &emsp;&emsp;於就學期間，發現自己對於資訊管理、科技等相關領域有所興趣，便開啟了學習的旅程，原以為畢業後能迅速投入自己所學的熱愛產業，但因私人因素與行業環境變化等原因，被迫暫時遠離此領域。
                            h2.font1 &emsp;&emsp;近年因一場全球性的貿易戰爭，許多企業受到影響並陸續開始實施無薪假，讓我重新思考未來的人生方向，經謹慎思考後，決議重新投回資訊產業前端開發的擁抱，於日常生活中我樂於觀察各前端網站設計風格、型態，並利用下班後的閒暇時間，翻閱相關書籍與實踐，除讓我克服了陌生感也同時讓我找回了熟悉的事物，並建立了一系列的網頁作品集。
                            h2.font1 &emsp;&emsp;我熱愛挑戰自我，並時時嚴以律己，我相信唯有透過不斷學習與實踐並將所學應用於實際項目中，才能有所成長與突破，期盼於未來能將我所學之技能貢獻於團隊中，並與各同仁們一起相互切磋、互助、互長，完成勝任各專案。
            .experience
                .workBottom(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0")
                    .workTime
                        .line100
                            .point.position0
                                .goodByelight
                            .point.position33
                                .goodByelight
                            .point.position66 
                                .goodByelight
                            .point.position99
                                .goodByelight
                        .workArea
                            .word-top
                                p Job Experience
                                hr
                            .work1.font(data-aos="zoom-out-right")
                                h1 鏟花技師
                                h4 宇漢機械刮花有限公司
                                h4 精密儀器製造工及修理
                                h4 任職時間 : 
                                h4 &emsp;&emsp;2016/3 - 2023/9
                            .work1.font(data-aos="zoom-out-left")
                                h1 主廚
                                h4 創業-拉麵店(義番町)
                                h4 主廚／店員／餐點規劃與設計/採買
                                h4 任職時間 : 
                                h4 &emsp;&emsp;2014/5 - 2016/1
                            .work1.font(data-aos="zoom-out-right")
                                h1 值班襄理
                                h4 十二鍋
                                h4 內區餐點製作/外區顧客服務
                                h4 任職時間 : 
                                h4 &emsp;&emsp;2011/10 - 2013/3
                            .work1.font(data-aos="zoom-out-left")
                                h1 儲備幹部
                                h4 Battis意式風味小館
                                h4 餐廚助手／飲品調配
                                h4 任職時間 : 
                                h4 &emsp;&emsp;2006/3 - 2010/10
                    .schoolBox
                        .line200
                            .point.position01
                                .goodByelight
                            .point.position100
                                .goodByelight
                        .schoolArea
                            .schoolTop
                                p Education
                                hr
                            .schoolWord
                                .school.font(data-aos="zoom-out-right")
                                    h1 嶺東科技大學
                                    h4 行銷與流通業管理 / 二技畢業
                                    h4 就讀時間 : 
                                    h4 2008/9 - 2011/6
                                .school.font(data-aos="zoom-out-right")
                                    h1 嶺東科技大學
                                    h4 資訊管理學系 / 五專畢業
                                    h4 就讀時間 : 
                                    h4 2003/9 - 2008/6

            .projectBox
                .project-title(data-aos="fade-up" data-aos-anchor-placement="top-center")
                    p.font2 Project
                    hr
                .swiper.mySwiper
                    .swiper-wrapper
                        .swiper-slide
                            a(href="https://gp3shenq.github.io/paper/" target="_blank")
                                img(src="./img/poj/poj.png", alt="")
                                .swiperWord1
                                    .swiperBox1
                                        .smallImg 
                                        .rightPojword.font2
                                            h1 紙雕
                                    p &emsp;&emsp;關於紙雕名人與文化介紹。
                                    span.font5 Click GO 
                        .swiper-slide
                            a(href="https://gp3shenq.github.io/ShenQHouse/" target="_blank")            
                                img(src="./img/poj/poj1.png", alt="")
                                .swiperWord1
                                    .swiperBox1
                                        .smallImg 
                                        .rightPojword.font2
                                            h1 ShenQ空間設計
                                    p &emsp;&emsp;家中裝潢時，研究了一些各式裝潢風格，整理了一些喜歡的風格照片，製作成簡易網站。&emsp;&emsp;(持續更新)
                                    span.font5 Click GO 
                        .swiper-slide
                            a(href="https://gp3shenq.github.io/iphone/" target="_blank") 
                                img(src="./img/poj/poj4.png", alt="")
                                .swiperWord1
                                    .swiperBox1
                                        .smallImg 
                                        .rightPojword.font2
                                            h1 3D手機
                                    p &emsp;&emsp;3D手機旋轉，新增訊息與刪除訊息功能，整支手機換色。
                                    span.font5 Click GO 
                        .swiper-slide
                            a(href="https://gp3shenq.github.io/sumcake/" target="_blank") 
                                img(src="./img/poj/poj2.png", alt="")
                                .swiperWord1
                                    .swiperBox1
                                        .smallImg 
                                        .rightPojword.font2
                                            h1 豐味堂
                                    p &emsp;&emsp;幫家裡在經營的食品店，做一個簡易網站。&emsp;&emsp;(持續更新)
                                    span.font5 Click GO 
                        .swiper-slide
                            a(href="https://gp3shenq.github.io/UmaCat/" target="_blank") 
                                img(src="./img/poj/poj3.png", alt="")
                                .swiperWord1
                                    .swiperBox1
                                        .smallImg 
                                        .rightPojword.font2
                                            h1 貓咪生活紀錄
                                    p &emsp;&emsp;記錄家中三隻貓咪的生活。&emsp;&emsp;(持續更新)
                                    span.font5 Click GO 

        .ProfessionalBox
            .Professional-title(data-aos="fade-up" data-aos-anchor-placement="top-center")
                p Professional 
                hr  
            .professionalBox
                .pro-title
                    p Web Development
                .circle-box
                    .circle-area
                        .circle-outside
                            .circle-text
                                p Html5 
                            .circle-inner 
                            .percentage(data="80")
                        .circle-outside
                            .circle-text
                                p CSS3 
                            .circle-inner 
                            .percentage(data="80")
                        .circle-outside 
                            .circle-text
                                p JavaScript 
                            .circle-inner 
                            .percentage(data="70")
                        .circle-inner-text
                            p Basics:&emsp;RWD 
                            p Styling:&emsp;Pug || Sass || jQuery
                            p Building tools:&emsp;Vue.js
