@charset "UTF-8";
html, body {
  font-family: "Caveat", cursive;
  padding: 0;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.font {
  font-family: "微軟正黑體";
  color: white;
}

.font1 {
  font-family: "微軟正黑體";
  color: black;
}

.enfont {
  font-family: "Caveat", cursive;
}

.font2 {
  font-family: "Young Serif", serif;
}

.font3 {
  font-family: "Mooli", sans-serif;
}

.font4 {
  font-family: "Jost", sans-serif;
}

.naveBar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 99;
}

.naveBgc {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #D7D3D2;
}

.naveMark {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 1%;
}
@media screen and (max-width: 768px) {
  .naveMark .mark {
    display: none;
  }
}
.naveMark .name {
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  .naveMark .name {
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .naveMark .name {
    font-size: 22px;
  }
}

.introduce {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  margin-top: 1%;
  right: 20%;
}
@media screen and (max-width: 1200px) {
  .introduce {
    right: 5%;
  }
}
@media screen and (max-width: 1024px) {
  .introduce {
    padding-top: 15px;
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .introduce {
    right: 0.2%;
    padding-top: 15px;
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .introduce {
    right: 0;
    padding: 15px 0 0 20px;
    font-size: 14px;
  }
}
.introduce .word {
  margin: 0 20px 0 20px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}
@media screen and (max-width: 1024px) {
  .introduce .word {
    margin: 0 10px 0 10px;
  }
}
.introduce .word:hover {
  color: #666467;
}

.resume {
  width: 100%;
}
.resume .rightBar {
  position: fixed;
  width: 90px;
  height: 200px;
  z-index: 99;
  top: 50%;
  right: 5px;
  line-height: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.resume .rightBar .right-about, .resume .rightBar .right-experience, .resume .rightBar .right-project, .resume .rightBar .right-professional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.resume .rightBar .right1, .resume .rightBar .right2, .resume .rightBar .right3, .resume .rightBar .right4 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  color: white;
  text-align: right;
}
.resume .rightBar .point {
  position: absolute;
  right: 0;
  width: 12px;
  height: 12px;
  margin-top: 15px;
  background-color: #E4D5C0;
  border-radius: 100%;
}
.resume .bgImg {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  background-image: url("./img/bgImg/bgImg.jpg");
}
.resume .bgImg .mask {
  position: absolute;
  width: 100%;
  height: 100%;
}
.resume .aboutBox {
  position: relative;
  margin-top: 100vh;
  width: 100%;
  height: 890px;
}
.resume .aboutBox .aboutCenter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100%;
  left: 10%;
  border-radius: 30px;
  background-color: #dbd0c2;
}
.resume .aboutBox .aboutCenter .aboutRight {
  position: relative;
  width: 50%;
  height: 100%;
}
.resume .aboutBox .aboutCenter .aboutRight img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.resume .aboutBox .aboutCenter .aboutLeft {
  width: 50%;
}
.resume .aboutBox .aboutCenter .aboutLeft h1 {
  margin-left: 10px;
}
.resume .aboutBox .aboutCenter .aboutLeft h2 {
  margin-left: 20px;
}
.resume .aboutBox .aboutCenter .aboutLeft a {
  font-size: 22px;
  margin-left: 20px;
}
.resume .aboutBox .aboutCenter .aboutLeft .name, .resume .aboutBox .aboutCenter .aboutLeft .phone, .resume .aboutBox .aboutCenter .aboutLeft .mail, .resume .aboutBox .aboutCenter .aboutLeft .internet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.resume .aboutBox .aboutCenter .aboutLeft .name {
  margin-top: 120px;
}
.resume .aboutBox .aboutCenter .aboutLeft .CV {
  margin-top: 30px;
}
.resume .aboutBox .aboutCenter .aboutLeft .CV p {
  font-size: 40px;
  font-weight: 700;
}
.resume .aboutBox .aboutCenter .aboutLeft .CV hr {
  width: 80%;
  border: solid 2px #8a837a;
}
.resume .experience {
  position: relative;
  width: 100%;
}
.resume .experience .topBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.resume .experience .word-top {
  font-size: 40px;
  font-weight: 700;
  padding: 50px 0 0 100px;
  width: 50%;
  color: #fff;
}
.resume .experience hr {
  margin-top: 20px;
  width: 80%;
  color: #e4c48d;
  -webkit-box-shadow: 0 0 15px 2px;
          box-shadow: 0 0 15px 2px;
}
.resume .experience .schoolTop {
  font-size: 40px;
  font-weight: 700;
  padding: 50px 0 0 50px;
  width: 50%;
  color: #fff;
}
.resume .experience .workBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.resume .experience .workTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
  width: 50%;
}
.resume .experience .workTime .line100 {
  position: relative;
  display: inline-block;
  height: 500px;
  margin: 70px 0 0 0;
  border: solid 2px #E3C9C8;
}
.resume .experience .workTime .point0, .resume .experience .workTime .point33, .resume .experience .workTime .point66, .resume .experience .workTime .point99 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: -5px;
  background-color: #FAE8C0;
}
.resume .experience .workTime .point33 {
  top: 33%;
}
.resume .experience .workTime .point66 {
  top: 66%;
}
.resume .experience .workTime .point99 {
  top: 100%;
}
.resume .experience .workArea, .resume .experience .schoolArea {
  margin: 15px 0 0 30px;
}
.resume .experience .workArea .work1, .resume .experience .schoolArea .work1 {
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: -3px 3px 10px 1px;
          box-shadow: -3px 3px 10px 1px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.resume .experience .schoolBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  width: 50%;
}
.resume .experience .schoolBox .line200 {
  position: relative;
  display: inline-block;
  height: 150px;
  margin: 70px 0 0 0;
  border: solid 2px #E3C9C8;
}
.resume .experience .schoolBox .point01, .resume .experience .schoolBox .point100 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: -5px;
  background-color: #FAE8C0;
}
.resume .experience .schoolBox .point100 {
  top: 100%;
}
.resume .experience .schoolBox .school {
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 10px 1px;
          box-shadow: 3px 3px 10px 1px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.resume .projectBox {
  position: relative;
  height: 70%;
  margin-top: 120px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}
.resume .project-title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  padding: 50px 0 0 100px;
  width: 50%;
  color: #fff;
}
.resume hr {
  margin-top: 20px;
  width: 80%;
  color: #e4c48d;
  -webkit-box-shadow: 0 0 15px 2px;
          box-shadow: 0 0 15px 2px;
}
.resume .swiper {
  width: 100%;
  height: 650px;
  padding-top: 80px;
  padding-bottom: 50px;
}
.resume .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 400px;
}
.resume .swiper-slide img {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 30px 30px 0 0;
}
.resume .swiper-slide .swiperWord1 {
  position: relative;
  width: 100%;
  height: 150px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #9698a8;
  font-size: 30px;
  font-weight: 700;
  border: solid 1px;
  -webkit-box-shadow: 0px 4px 10px 5px;
          box-shadow: 0px 4px 10px 5px;
}
.resume .swiper-slide p {
  color: white;
}
.resume .swiper-slide a {
  font-size: 20px;
  position: absolute;
  color: #af7e7e;
  right: 2%;
  bottom: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.resume .swiper-slide a:hover {
  color: #463d3d;
}

.ProfessionalBox {
  width: 100%;
  height: 700px;
}
.ProfessionalBox .Professional-title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  padding: 200px 0 0 100px;
  width: 50%;
  color: #fff;
}
.ProfessionalBox hr {
  margin-top: 20px;
  width: 80%;
  color: #e4c48d;
  -webkit-box-shadow: 0 0 15px 2px;
          box-shadow: 0 0 15px 2px;
}
.ProfessionalBox .professionalBox {
  position: relative;
  padding: 50px 0 0 100px;
  color: #fff;
}
.ProfessionalBox .professionalBox .pro-title {
  font-size: 50px;
  font-weight: 700;
}
.ProfessionalBox .professionalBox .pro-inner {
  font-size: 30px;
  margin: 30px 0 0 50px;
}