@charset "UTF-8";
html, body {
  font-family: "Young Serif", serif;
  padding: 0;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cloud100 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.font {
  font-family: "微軟正黑體";
  color: white;
}

.font1 {
  font-family: "微軟正黑體";
  color: black;
}

.enfont {
  font-family: "Caveat", cursive;
}

.font2 {
  font-family: "Young Serif", serif;
}

.font3 {
  font-family: "Mooli", sans-serif;
}

.font4 {
  font-family: "Jost", sans-serif;
}

.naveBar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 99;
}

.naveBgc {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #D7D3D2;
}

.naveMark {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 1%;
}
@media screen and (max-width: 375px) {
  .naveMark {
    margin-top: 2px;
  }
}
@media screen and (max-width: 768px) {
  .naveMark .mark {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .naveMark .mark {
    width: 30px;
    height: 30px;
    display: block;
  }
  .naveMark .mark img {
    width: 100%;
    height: 100%;
  }
}
.naveMark .name {
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  color: transparent;
}
@media screen and (max-width: 768px) {
  .naveMark .name {
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .naveMark .name {
    font-size: 18px;
  }
}
@media screen and (max-width: 375px) {
  .naveMark .name {
    display: none;
  }
}

.introduce {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  margin-top: 1%;
  right: 15%;
}
@media screen and (max-width: 1200px) {
  .introduce {
    right: 2%;
    font-size: 26px;
  }
}
@media screen and (max-width: 1024px) {
  .introduce {
    padding-top: 15px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .introduce {
    right: 0.2%;
    padding-top: 15px;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .introduce {
    right: 0;
    padding: 5px 0 0 20px;
    font-size: 12px;
  }
}
.introduce .word {
  margin: 0 20px 0 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .introduce .word {
    margin: 0 10px 0 10px;
  }
}
.introduce .word:hover {
  color: #9f60bf;
}
@media screen and (max-width: 576px) {
  .introduce .word {
    margin: 0 5px 0 2px;
  }
}

.resume {
  width: 100%;
}
.resume .rightBar {
  position: fixed;
  display: none;
  width: 90px;
  height: 200px;
  z-index: 99;
  top: 50%;
  right: 5px;
  line-height: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .resume .rightBar {
    display: none;
  }
}
.resume .rightBar .right-about, .resume .rightBar .right-experience, .resume .rightBar .right-project, .resume .rightBar .right-professional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.resume .rightBar .right1, .resume .rightBar .right2, .resume .rightBar .right3, .resume .rightBar .right4 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  color: white;
  text-align: right;
}
.resume .rightBar .point {
  position: absolute;
  right: 0;
  width: 12px;
  height: 12px;
  margin-top: 15px;
  background-color: #E4D5C0;
  border-radius: 100%;
}
.resume .bgImg {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  background-image: url("./img/bgImg/bgimg.jpg");
}
.resume .bgImg .bottomArrow {
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
  -webkit-animation: Arrow 3s infinite;
          animation: Arrow 3s infinite;
  font-size: 40px;
  color: #164451;
}
@-webkit-keyframes Arrow {
  0% {
    top: 93%;
  }
  50% {
    top: 95%;
  }
  100% {
    top: 93%;
  }
}
@keyframes Arrow {
  0% {
    top: 93%;
  }
  50% {
    top: 95%;
  }
  100% {
    top: 93%;
  }
}
.resume .bgImg .cloud {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
}
.resume .bgImg .cloud .cloud1 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  bottom: -60px;
  left: 10px;
  z-index: 99;
  -webkit-box-shadow: 1100px -100px 200px 100px #92A9AF;
          box-shadow: 1100px -100px 200px 100px #92A9AF;
  -webkit-animation: move 18s infinite;
          animation: move 18s infinite;
}
@media screen and (max-width: 1024px) {
  .resume .bgImg .cloud .cloud1 {
    -webkit-animation: move 22s infinite;
            animation: move 22s infinite;
  }
}
.resume .bgImg .cloud .cloud1 .c1-1 {
  -webkit-box-shadow: 100px -200px 140px 100px #92A9AF;
          box-shadow: 100px -200px 140px 100px #92A9AF;
}
.resume .bgImg .cloud .cloud1 .c1-2 {
  -webkit-box-shadow: 600px -350px 170px 200px #92A9AF;
          box-shadow: 600px -350px 170px 200px #92A9AF;
}
@-webkit-keyframes move {
  0% {
    bottom: -60px;
    left: -1200px;
  }
  100% {
    bottom: -60px;
    left: 1700px;
  }
}
@keyframes move {
  0% {
    bottom: -60px;
    left: -1200px;
  }
  100% {
    bottom: -60px;
    left: 1700px;
  }
}
.resume .bgImg .cloud .cloud2 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  bottom: -60px;
  left: 10px;
  -webkit-box-shadow: 1100px -650px 200px 100px #92A9AF;
          box-shadow: 1100px -650px 200px 100px #92A9AF;
  -webkit-animation: move1 11s infinite;
          animation: move1 11s infinite;
}
.resume .bgImg .cloud .cloud2 .c2-1 {
  -webkit-box-shadow: 900px -750px 140px 100px #92A9AF;
          box-shadow: 900px -750px 140px 100px #92A9AF;
}
.resume .bgImg .cloud .cloud2 .c2-2 {
  -webkit-box-shadow: 600px -700px 270px 100px #92A9AF;
          box-shadow: 600px -700px 270px 100px #92A9AF;
}
@-webkit-keyframes move1 {
  0% {
    bottom: -60px;
    left: 2000px;
  }
  100% {
    bottom: -60px;
    left: -1300px;
  }
}
@keyframes move1 {
  0% {
    bottom: -60px;
    left: 2000px;
  }
  100% {
    bottom: -60px;
    left: -1300px;
  }
}
.resume .bgImg .indexCenter {
  position: absolute;
  width: 700px;
  height: 100px;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 50px;
}
@media screen and (max-width: 576px) {
  .resume .bgImg .indexCenter {
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
.resume .bgImg span {
  display: inline-block;
  text-shadow: 0 1px 10px black;
  -webkit-animation-name: smoky;
          animation-name: smoky;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: infinite;
          animation-fill-mode: infinite;
  font-weight: 700;
  color: #92A9AF;
}
@media screen and (max-width: 576px) {
  .resume .bgImg span {
    font-size: 30px;
    -webkit-animation: none;
            animation: none;
  }
}
@-webkit-keyframes smoky {
  40% {
    text-shadow: 0 0 0.6em #92A9AF;
    color: transparent;
  }
  100% {
    -webkit-transform: translate3d(5rem, -1rem, 0) rotate(-15deg) skewX(90deg) scale(1.5);
            transform: translate3d(5rem, -1rem, 0) rotate(-15deg) skewX(90deg) scale(1.5);
    text-shadow: 0 0 0.9em #92A9AF;
    opacity: 0;
  }
}
@keyframes smoky {
  40% {
    text-shadow: 0 0 0.6em #92A9AF;
    color: transparent;
  }
  100% {
    -webkit-transform: translate3d(5rem, -1rem, 0) rotate(-15deg) skewX(90deg) scale(1.5);
            transform: translate3d(5rem, -1rem, 0) rotate(-15deg) skewX(90deg) scale(1.5);
    text-shadow: 0 0 0.9em #92A9AF;
    opacity: 0;
  }
}
.resume .bgImg span:nth-of-type(1) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.resume .bgImg span:nth-of-type(2) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.resume .bgImg span:nth-of-type(3) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.resume .bgImg span:nth-of-type(4) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}
.resume .bgImg span:nth-of-type(5) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.resume .bgImg span:nth-of-type(6) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}
.resume .bgImg span:nth-of-type(7) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.resume .bgImg span:nth-of-type(8) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
.resume .bgImg span:nth-of-type(9) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.resume .bgImg span:nth-of-type(10) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
.resume .bgImg span:nth-of-type(11) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.resume .bgImg span:nth-of-type(12) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.resume .bgImg span:nth-of-type(13) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.resume .bgImg .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #357080;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.resume .aboutBox {
  position: relative;
  margin-top: 100vh;
  width: 100%;
  height: 890px;
}
.resume .aboutBox .aboutCenter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("./img/bgImg/bgimg12.png");
  background-position: right bottom;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .resume .aboutBox .aboutCenter {
    width: 100%;
    left: 0;
    border-radius: 0;
  }
}
@media screen and (max-width: 576px) {
  .resume .aboutBox .aboutCenter {
    display: block;
  }
}
.resume .aboutBox .aboutCenter .aboutLeft {
  position: relative;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .resume .aboutBox .aboutCenter .aboutLeft {
    width: 45%;
    height: 50%;
  }
}
@media screen and (max-width: 576px) {
  .resume .aboutBox .aboutCenter .aboutLeft {
    width: 50%;
    margin-left: 25%;
  }
}
.resume .aboutBox .aboutCenter .aboutLeft img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 1024px) {
  .resume .aboutBox .aboutCenter .aboutLeft img {
    width: 90%;
  }
}
.resume .aboutBox .aboutCenter .aboutRight {
  width: 50%;
  word-wrap: break-word;
}
@media screen and (max-width: 576px) {
  .resume .aboutBox .aboutCenter .aboutRight {
    width: 100%;
  }
}
.resume .aboutBox .aboutCenter .aboutRight h1 {
  margin-left: 10px;
}
@media screen and (max-width: 1024px) {
  .resume .aboutBox .aboutCenter .aboutRight h1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .resume .aboutBox .aboutCenter .aboutRight h1 {
    font-size: 20px;
  }
}
.resume .aboutBox .aboutCenter .aboutRight h2 {
  margin-left: 20px;
}
@media screen and (max-width: 1024px) {
  .resume .aboutBox .aboutCenter .aboutRight h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .resume .aboutBox .aboutCenter .aboutRight h2 {
    font-size: 14px;
  }
}
.resume .aboutBox .aboutCenter .aboutRight a {
  font-size: 22px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .resume .aboutBox .aboutCenter .aboutRight a {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .resume .aboutBox .aboutCenter .aboutRight a {
    font-size: 14px;
  }
}
.resume .aboutBox .aboutCenter .aboutRight .name, .resume .aboutBox .aboutCenter .aboutRight .phone, .resume .aboutBox .aboutCenter .aboutRight .mail, .resume .aboutBox .aboutCenter .aboutRight .internet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.resume .aboutBox .aboutCenter .aboutRight .name {
  margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .resume .aboutBox .aboutCenter .aboutRight .name {
    margin-top: -50px;
  }
}
@media screen and (max-width: 576px) {
  .resume .aboutBox .aboutCenter .aboutRight .internet {
    margin-top: 20px;
  }
}
.resume .aboutBox .aboutCenter .aboutRight .CV {
  margin-left: -50px;
}
@media screen and (max-width: 1024px) {
  .resume .aboutBox .aboutCenter .aboutRight .CV {
    margin-left: 0;
  }
}
.resume .aboutBox .aboutCenter .aboutRight .CV p {
  font-size: 40px;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .resume .aboutBox .aboutCenter .aboutRight .CV p {
    font-size: 22px;
    padding-left: 20px;
  }
}
.resume .aboutBox .aboutCenter .aboutRight .CV hr {
  width: 80%;
  border: solid 2px #8a837a;
}
@media screen and (max-width: 576px) {
  .resume .aboutBox .aboutCenter .aboutRight .CV hr {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .resume .aboutBox .aboutCenter .aboutRight .CV {
    position: absolute;
    top: 48%;
    left: 10%;
  }
}
@media screen and (max-width: 576px) {
  .resume .aboutBox .aboutCenter .aboutRight .CV {
    position: relative;
    top: 20px;
    left: 0;
  }
}
.resume .aboutBox .aboutCenter .aboutRight .CV h2 {
  width: 90%;
}
.resume .experience {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.resume .experience .workBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 576px) {
  .resume .experience .workBottom {
    display: block;
  }
}
.resume .experience .workTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .resume .experience .workTime {
    margin-left: 5%;
  }
}
@media screen and (max-width: 576px) {
  .resume .experience .workTime {
    margin-left: 0;
    width: 100%;
  }
}
.resume .experience .workTime .line100 {
  position: relative;
  display: inline-block;
  height: 500px;
  margin: 200px 0 0 0;
  border: solid 2px #E3C9C8;
}
@media screen and (max-width: 576px) {
  .resume .experience .workTime .line100 {
    height: 280px;
    margin-left: 50%;
  }
}
.resume .experience .workTime .line100 .point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: -5px;
  background-color: #FAE8C0;
}
.resume .experience .workTime .line100 .point .goodByelight {
  width: 10px;
  height: 10px;
  background-color: #FAE8C0;
  border-radius: 100%;
}
.resume .experience .workTime .line100 .point .goodByelight.light {
  -webkit-box-shadow: 0 0 50px 20px #FAE8C0, 0 0 30px 10px #FAE8C0, 0 0 15px 5px #FAE8C0, 0 0 5px 1px #FAE8C0;
          box-shadow: 0 0 50px 20px #FAE8C0, 0 0 30px 10px #FAE8C0, 0 0 15px 5px #FAE8C0, 0 0 5px 1px #FAE8C0;
  -webkit-animation: none;
          animation: none;
}
.resume .experience .workTime .line100 .point .goodByelight.blowlight {
  -webkit-animation-name: blow;
          animation-name: blow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@-webkit-keyframes blow {
  0% {
    -webkit-box-shadow: 0 0 50px 20px #FAE8C0, 0 0 30px 10px #FAE8C0, 0 0 15px 5px #FAE8C0, 0 0 5px 1px #FAE8C0;
            box-shadow: 0 0 50px 20px #FAE8C0, 0 0 30px 10px #FAE8C0, 0 0 15px 5px #FAE8C0, 0 0 5px 1px #FAE8C0;
  }
  60% {
    -webkit-box-shadow: 0 0 10px 10px #FAE8C0;
            box-shadow: 0 0 10px 10px #FAE8C0;
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(-3rem, 0rem, 0) rotate(0deg) skewX(45deg) scale(1.5);
            transform: translate3d(-3rem, 0rem, 0) rotate(0deg) skewX(45deg) scale(1.5);
    -webkit-box-shadow: 0 0 1px 1px #FAE8C0;
            box-shadow: 0 0 1px 1px #FAE8C0;
    opacity: 0;
  }
}
@keyframes blow {
  0% {
    -webkit-box-shadow: 0 0 50px 20px #FAE8C0, 0 0 30px 10px #FAE8C0, 0 0 15px 5px #FAE8C0, 0 0 5px 1px #FAE8C0;
            box-shadow: 0 0 50px 20px #FAE8C0, 0 0 30px 10px #FAE8C0, 0 0 15px 5px #FAE8C0, 0 0 5px 1px #FAE8C0;
  }
  60% {
    -webkit-box-shadow: 0 0 10px 10px #FAE8C0;
            box-shadow: 0 0 10px 10px #FAE8C0;
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(-3rem, 0rem, 0) rotate(0deg) skewX(45deg) scale(1.5);
            transform: translate3d(-3rem, 0rem, 0) rotate(0deg) skewX(45deg) scale(1.5);
    -webkit-box-shadow: 0 0 1px 1px #FAE8C0;
            box-shadow: 0 0 1px 1px #FAE8C0;
    opacity: 0;
  }
}
.resume .experience .workTime .line100 .position33 {
  top: 33%;
}
.resume .experience .workTime .line100 .position66 {
  top: 66%;
}
.resume .experience .workTime .line100 .position99 {
  top: 100%;
}
.resume .experience .workArea {
  margin: 15px 0 30px 30px;
}
@media screen and (max-width: 576px) {
  .resume .experience .workArea {
    margin: 15px 0 10px 10px;
  }
}
.resume .experience .workArea .word-top {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .resume .experience .workArea .word-top {
    margin-top: 50px;
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .resume .experience .workArea .word-top {
    margin-left: -100%;
  }
}
.resume .experience .workArea hr {
  margin-top: 20px;
  width: 80%;
  color: #e4c48d;
  -webkit-box-shadow: 0 0 15px 2px;
          box-shadow: 0 0 15px 2px;
}
.resume .experience .workArea .work1 {
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: -3px 3px 10px 1px;
          box-shadow: -3px 3px 10px 1px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media screen and (max-width: 768px) {
  .resume .experience .workArea .work1 h1 {
    font-size: 22px;
  }
  .resume .experience .workArea .work1 h4 {
    font-size: 14px;
    font-weight: 100;
  }
}
@media screen and (max-width: 576px) {
  .resume .experience .workArea .work1 {
    margin-left: -110%;
  }
  .resume .experience .workArea .work1:nth-child(3) {
    margin: -30px 0 0 0;
  }
  .resume .experience .workArea .work1:nth-child(4) {
    margin-top: -50px;
  }
  .resume .experience .workArea .work1:nth-child(5) {
    margin: -30px 0 0 0;
  }
  .resume .experience .workArea .work1 h1 {
    font-size: 18px;
  }
}
.resume .experience .schoolBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  width: 50%;
}
@media screen and (max-width: 576px) {
  .resume .experience .schoolBox {
    margin: 30px 0 0 0;
    width: 100%;
    background-color: #6b737b;
  }
}
.resume .experience .schoolBox .line200 {
  position: relative;
  display: inline-block;
  height: 150px;
  margin: 200px 0 0 0;
  border: solid 2px #E3C9C8;
}
@media screen and (max-width: 576px) {
  .resume .experience .schoolBox .line200 {
    display: none;
  }
}
.resume .experience .schoolBox .point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: -5px;
  background-color: #FAE8C0;
}
.resume .experience .schoolBox .point .goodByelight {
  width: 10px;
  height: 10px;
  background-color: #FAE8C0;
  border-radius: 100%;
}
.resume .experience .schoolBox .point .goodByelight.light {
  -webkit-box-shadow: 0 0 50px 20px #FAE8C0, 0 0 30px 10px #FAE8C0, 0 0 15px 5px #FAE8C0, 0 0 5px 1px #FAE8C0;
          box-shadow: 0 0 50px 20px #FAE8C0, 0 0 30px 10px #FAE8C0, 0 0 15px 5px #FAE8C0, 0 0 5px 1px #FAE8C0;
  -webkit-animation: none;
          animation: none;
}
.resume .experience .schoolBox .point .goodByelight.blowlight {
  -webkit-animation-name: blow;
          animation-name: blow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@keyframes blow {
  0% {
    -webkit-box-shadow: 0 0 50px 20px #FAE8C0, 0 0 30px 10px #FAE8C0, 0 0 15px 5px #FAE8C0, 0 0 5px 1px #FAE8C0;
            box-shadow: 0 0 50px 20px #FAE8C0, 0 0 30px 10px #FAE8C0, 0 0 15px 5px #FAE8C0, 0 0 5px 1px #FAE8C0;
  }
  60% {
    -webkit-box-shadow: 0 0 10px 10px #FAE8C0;
            box-shadow: 0 0 10px 10px #FAE8C0;
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(-3rem, 0rem, 0) rotate(0deg) skewX(45deg) scale(1.5);
            transform: translate3d(-3rem, 0rem, 0) rotate(0deg) skewX(45deg) scale(1.5);
    -webkit-box-shadow: 0 0 1px 1px #FAE8C0;
            box-shadow: 0 0 1px 1px #FAE8C0;
    opacity: 0;
  }
}
.resume .experience .schoolBox .position100 {
  top: 100%;
}
.resume .experience .schoolBox .schoolArea {
  margin: 15px 0 0 30px;
}
@media screen and (max-width: 576px) {
  .resume .experience .schoolBox .schoolArea {
    margin: -70px 0 30px 0;
  }
}
.resume .experience .schoolBox .schoolArea .schoolTop {
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .resume .experience .schoolBox .schoolArea .schoolTop {
    margin-top: 50px;
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .resume .experience .schoolBox .schoolArea .schoolTop {
    padding: 50px 0 0 10px;
  }
}
@media screen and (max-width: 576px) {
  .resume .experience .schoolBox .schoolArea .schoolWord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.resume .experience .schoolBox .schoolArea .school {
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 10px 1px;
          box-shadow: 3px 3px 10px 1px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media screen and (max-width: 576px) {
  .resume .experience .schoolBox .schoolArea .school {
    -webkit-box-shadow: 2px 2px 7px 3px #5e6165;
            box-shadow: 2px 2px 7px 3px #5e6165;
    border-radius: 0;
    margin: 20px 10px 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .resume .experience .schoolBox .schoolArea .school h1 {
    font-size: 22px;
  }
  .resume .experience .schoolBox .schoolArea .school h4 {
    font-size: 14px;
    font-weight: 100;
  }
}
@media screen and (max-width: 576px) {
  .resume .experience .schoolBox .schoolArea .school h1 {
    font-size: 18px;
  }
}
.resume .projectBox {
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  background-image: url("./img/bgImg/bgimg14.jpg");
  background-position: center;
  background-size: cover;
}
.resume .project-title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  padding: 50px 0 0 100px;
  width: 50%;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .resume .project-title {
    padding: 50px 0 0 50px;
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .resume .project-title {
    padding: 50px 0 0 10px;
  }
}
.resume .project-title p {
  color: black;
}
.resume hr {
  margin-top: 20px;
  width: 80%;
  color: #e4c48d;
  -webkit-box-shadow: 0 0 15px 2px;
          box-shadow: 0 0 15px 2px;
}
.resume .swiper {
  width: 100%;
  height: 650px;
  padding-top: 30px;
  padding-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .resume .swiper {
    height: 550px;
  }
}
.resume .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 650px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .resume .swiper-slide {
    width: 450px;
  }
}
@media screen and (max-width: 576px) {
  .resume .swiper-slide {
    width: 350px;
  }
  .resume .swiper-slide img {
    width: 45%;
    height: 40%;
  }
}
@media screen and (min-width: 577px) {
  .resume .swiper-slide:hover img {
    width: 45%;
    height: 40%;
  }
}
.resume .swiper-slide img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  display: block;
  width: 100%;
  height: 90%;
  z-index: 77;
}
@media screen and (max-width: 576px) {
  .resume .swiper-slide img {
    width: 45%;
    height: 40%;
  }
}
.resume .swiper-slide .swiperBox1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}
.resume .swiper-slide .swiperBox1 .smallImg {
  width: 50%;
  height: 100%;
}
.resume .swiper-slide .swiperBox1 .rightPojword {
  text-align: center;
  margin-top: 15%;
  width: 50%;
  height: 40%;
  color: black;
}
.resume .swiper-slide .swiperWord1 {
  position: relative;
  width: 100%;
  height: 90%;
  background-color: #859eaa;
  font-size: 30px;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .resume .swiper-slide .swiperWord1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 375px) {
  .resume .swiper-slide .swiperWord1 {
    font-size: 18px;
  }
}
.resume .swiper-slide .swiperWord1 p {
  color: white;
  padding: 16px;
  font-size: 16px;
}
.resume .swiper-slide .swiperWord1 a {
  font-size: 20px;
  position: absolute;
  color: #ecc7c7;
  right: 2%;
  bottom: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.resume .swiper-slide .swiperWord1 a:hover {
  color: #463d3d;
}

.ProfessionalBox {
  width: 100%;
  height: 700px;
}
.ProfessionalBox .Professional-title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  padding: 200px 0 0 100px;
  width: 50%;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .ProfessionalBox .Professional-title {
    padding: 50px 0 0 50px;
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .ProfessionalBox .Professional-title {
    padding: 50px 0 0 10px;
  }
}
.ProfessionalBox hr {
  margin-top: 20px;
  width: 80%;
  color: #e4c48d;
  -webkit-box-shadow: 0 0 15px 2px;
          box-shadow: 0 0 15px 2px;
}
.ProfessionalBox .professionalBox {
  position: relative;
  padding: 50px 0 0 100px;
  color: #fff;
}
@media screen and (max-width: 576px) {
  .ProfessionalBox .professionalBox {
    padding: 50px 0 0 20px;
  }
}
.ProfessionalBox .professionalBox .pro-title {
  font-size: 50px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .ProfessionalBox .professionalBox .pro-title {
    font-size: 34px;
  }
}
.ProfessionalBox .circle-box {
  width: 90%;
}
.ProfessionalBox .circle-area {
  width: 100%;
  height: 25%;
  padding-bottom: 30px;
}
.ProfessionalBox .circle-outside {
  position: relative;
  max-width: 700px;
  min-width: 300px;
  height: 20px;
  background-color: #bc9052;
  margin: 60px 50px;
  border-radius: 20px;
  z-index: 0.1;
}
@media screen and (max-width: 576px) {
  .ProfessionalBox .circle-outside {
    margin-left: 0;
    height: 10px;
  }
}
.ProfessionalBox .circle-text {
  position: absolute;
  top: -40px;
  font-size: 30px;
  left: 10px;
}
@media screen and (max-width: 768px) {
  .ProfessionalBox .circle-text {
    font-size: 22px;
  }
}
.ProfessionalBox .circle-inner {
  position: relative;
  width: 0;
  height: 20px;
  background-color: #aeef2e;
  border-radius: 20px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  z-index: 0.1;
}
@media screen and (max-width: 576px) {
  .ProfessionalBox .circle-inner {
    height: 10px;
  }
}
.ProfessionalBox .percentage {
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -5px;
  text-align: center;
  color: black;
  z-index: 1;
}
.ProfessionalBox .circle-inner-text {
  width: 100%;
  margin: -30px 0 0 50px;
}
@media screen and (max-width: 576px) {
  .ProfessionalBox .circle-inner-text {
    margin: -30px 0 0 0;
  }
}
.ProfessionalBox .circle-inner-text p {
  font-size: 26px;
  line-height: 50px;
}
@media screen and (max-width: 576px) {
  .ProfessionalBox .circle-inner-text p {
    font-size: 22px;
  }
}